---
default_install_hook_types:
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      - id: uv-sync
        args: ["--locked", "--all-packages"]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.34.1
    hooks:
      - id: check-github-workflows
      - id: check-renovate
        files: default.json
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.169.1
    hooks:
      - id: renovate-config-validator
        args: [--strict]
      - name: renovate-default-config-validator
        id: renovate-config-validator
        files: '(^|/).?default(?:rc)?(?:\.json?)?$'
        args: [--strict]
